<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
    <title>Raag</title>
  </head>
  <body>
    {% block homepage %} {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/cplayer/dist/cplayer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script >
        let player = new cplayer({
        element: document.getElementById('app'),
        big: true,
        playlist: JSON.parse('{{ song_list | tojson }}')
      })
    </script>
  </body>
</html>
